html,
body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.page{
  color: #262626;
  h3{
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
  }
}